# Laravel
/vendor/
/node_modules/
/.env
/storage/*.key
/storage/debugbar/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/bootstrap/cache/
/public/storage
/public/hot

# Next.js
/.next/
/node_modules/
/.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs y caches
npm-debug.log*
yarn-error.log*
.phpunit.result.cache

# IDEs y editores
/.idea/
/.vscode/
/*.code-workspace

# Otros
Homestead.yaml
Homestead.json
/.vagrant

